@import "./styles/all-utils";
@import "./styles/base.scss";

.app {
    
    &__container {
        display: flex;
        flex-flow: column nowrap;
        height: calc(100% - 130px);
    }
    
    &__visuals-container {
        display: flex;
        height: calc(100% - 65px);
    }

}