@import '../../styles/all-utils';

.visual {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    overflow: hidden;
    @include border;
    padding: 0.5rem;
    max-height: 100%;
    width: 100%;
}