@import '../../styles/all-utils';

.visual {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex: 1;
    @include border;
    padding: 0.5rem;
    height: 100%;
}